@{
    ViewBag.Title = "Home Page";
}

<!--Hero section-->
<div class="hero">
    <figure class="hero-image">
        <img src="~/Images/878006.jpg" alt="Hero image" />
    </figure>

    <!--Choose lodge section-->
    <div class="chooseLodge">
        <div class="row">

            <div class="chooseDiv chooseText">
                <p>
                    Kies uw lodge
                </p>
            </div>

            <div class="chooseDiv chooseType text-black">
                <select>
                    <option value="TypeLodge">Type lodge</option>
                </select>
            </div>

            <div class="chooseDiv chooseButton">
                <a class="btn btn--orange" href="#">Boek lodge</a>
            </div>

        </div>
    </div>
</div>

<!--Main section-->
<section id="main" class="mt-50">

    <div class="container">

        <!--Content section-->
        <div class="content-block">

            <div class="regular-content text-black pt-50">
                <div class="row">

                    <div class="col-md-6">
                        <h1 class="heading-1 text-bold heading-line line--blue pb-10">
                            Lorem ipsum
                        </h1>

                        <p class="pt-30">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                        </p>

                        <p>
                            Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.
                        </p>
                    </div>

                    <div class="col-md-5 col-sm-offset-1">
                        <figure>
                            <img src="~/Images/blokhut.jpg" alt="Bali lodge" />
                        </figure>
                    </div>

                </div>
            </div>

            <!-- If admin admin bar section-->
            @if (User.IsInRole("Manager"))
            {
                <div class="admin-bar mt-20">
                    <div class="container">

                        <div class="row">
                            <a class="btn btn-success" href="#">Add</a>
                            <a class="btn btn-primary" href="#">Edit</a>
                            <a class="btn btn-danger" href="#">Remove</a>
                        </div>

                    </div>
                </div>
            }

        </div>

    </div>

</section>